<ion-content >
  <div class="div-cont">
    <div class="div-top">
      <a style="margin-left: 27px;margin-right: 54px;" href="/header"> < Ir atrás</a> 

    </div>
    <div class="div-user">
     <div>
        <img src="../../../assets/pruebas/perroAzul.png" alt="">
      </div>
      <div>
          <h3 >Nombre</h3>
  
        <p >Veterinario en Clínica Perritos</p>
      </div>
   
      <div class="div-buttons">
        <button class="btn-asc">Ascender</button>
        <button class="btn-des">Desvincular</button>
      </div>
    </div>
    
  <div class="div-regis">
    <h1>
      Últimos registros
    </h1>
    <div class="div-square">
      <img src="../../../assets/pruebas/perrito.jpg" alt="">
      <div style="display: flex;">
        <div class="div-name">
          <h5>
            Nombre 
          </h5>
          <p>
            Clinica
          </p>
        </div>
        <div class="div-date">
          <h5>
            Más detalles >
          </h5>
          <p>
            04/06/2023
          </p>
        </div>
      </div>
      
    </div>
    <div class="div-square">
      <img src="../../../assets/pruebas/perroCaja.png" alt="">
      <div style="display: flex;">
        <div class="div-name">
          <h5>
            Nombre 
          </h5>
          <p>
            Clinica
          </p>
        </div>
        <div class="div-date">
          <h5>
            Más detalles >
          </h5>
          <p>
            04/06/2023
          </p>
        </div>
      </div>
      
    </div>
      </div>
     
    
  </div>
</ion-content>

<ion-footer>
  <app-footer></app-footer>
  </ion-footer>