<ion-content >
  <div class="div-cont">
    <div class="div-top">
      <a (click)="back()" style="margin-left: 27px;" > < Ir atrás</a> 
      <h1>Tus mascotas</h1>
      <a style="margin-right: 33px;" href="configuration"> Ajustes </a>
    </div>
    <div class="div-list" *ngFor="let pet of pets">
      <div class="div-square">
        <div style="display: flex; align-items: center;">
        <!--   <img src="../../../assets/pruebas/perroCeleste.png" alt=""> -->
        <img [src]=pet.image alt="">
          <div>
            <h4>{{pet.name}}</h4>
            <p>{{pet.race}} {{pet.age}}</p>
          </div>
        </div>
        <h5 (click)="editpet(pet.id)"> Editar ></h5>
      </div>
    </div>
   
  </div>
</ion-content>
<ion-footer >
  <app-footer></app-footer>
  </ion-footer>
 