<ion-content >
  <div class="div-cont">
    <div class="div-header">
      <button (click)="list()" style="left: 35px;
    top: 58px;" class="top-button"> <img src="../../../assets/icon/actions/back.png" alt=""> </button>
      <img style="width: 390px;
      height: 440px;" src="../../../assets/pruebas/perrito.jpg" alt="">
    </div>
    <div style="display: flex; justify-content: center;">
      <div class="info">
        <h1>{{name}}</h1>
        <div style="display: flex; justify-content: space-between;">
          <div style="display: flex;align-items: center;">
            <img  src="../../../assets/icon/logos/DateOrange.png" alt="">          
            <p>{{age}}</p>
          </div>
          <div style="display: flex;align-items: center;">
            <img  src="../../../assets/icon/petIcons/Male.png" alt="">          
            <p>{{sex}}</p>
          </div>
          <div style="display: flex;align-items: center;">
            <img  src="../../../assets/icon/petIcons/Dog.png" alt="">          
            <p>{{race}}</p>
          </div>
        </div>
        <div style="
        width: 285.686px;
  height: 57px;">
  
  <p>{{description}}</p>
        </div>
        <div style="display: flex;justify-content: space-between; margin-top: 23px;">
          <img style="width: 40px;height: 40px;" src="../../../assets/icon/petIcons/HeartInSquare.png" alt="">
      
          <a href="https://api.whatsapp.com/send?phone=+5930969827625&text=¡Hola! ¿Cómo estás?" class="contact" >Contactar</a>
          
        </div>

      </div>
   
    </div>
    
    
    
  </div>
</ion-content>

<ion-footer>
<app-footer></app-footer>
</ion-footer>