<ion-content scroll-y="true">
  <div class="div-cont" >
    <div class="div-top">
      <a style="margin-left: 27px;margin-right: 54px;" href="/menu"> < Ir atrás</a> 
    </div>
    <div class="div-body">
      <h2 style="color: #E0735C;">Bienvenido a Pet911</h2>
      <p>
        Una aplicación propiedad de Allku S.A.S. En los siguientes Términos de Servicio, se establecen las reglas y condiciones que rigen su uso de nuestra aplicación móvil "Pet911" (en adelante, "la Aplicación").
        Lea atentamente estos términos antes de utilizar la Aplicación. Al utilizarla, usted acepta cumplir con estos Términos de Servicio y con nuestra Política de Privacidad.
      </p>
      <h6><strong>Lea estas condiciones detenidamente antes de acceder a nuestros servicios.</strong></h6>
      <h3 style="color: #E0735C;">DESCRIPCIÓN DEL SERVICIO</h3>
      <p>
        La aplicación provee diferentes servicios de los cuales el usuario puede hacer uso las cuales incluyen:
      </p>
      <p>
        a. Búsqueda de servicios a fines de mascotas donde se incluyen: veterinarias, peluquerías para mascotas, petshops (tienda de mascotas), hospedaje de mascotas, adiestramiento de mascotas, transporte de mascotas internacional, transporte local para mascotas, servicios exequiales o post-mortem para mascotas, veterinarios a domicilio (Dirigido a egresados de la carrera de veterinaria.)
      </p>
      <p>
        b. Adopción de mascotas, los usuarios tienen la oportunidad de buscar mascotas en busca de un nuevo hogar y ponerse en contacto con organizaciones o asociados de la app de manera independiente.
      </p>   
      <p>
        c. Botón de emergencias donde se consultará a las veterinarias seleccionadas la disponibilidad de atención donde será el usuario quien seleccione la veterinaria que se adapte a sus necesidades.
      </p>  
      <p>
        d. Gestor de mascotas, esta función permite a los usuarios ingresar información sobre sus mascotas en el sistema de la aplicación. Los usuarios también pueden cargar contenido multimedia relacionado con sus mascotas.
      </p> 
      <p>
        e. Registros de usuarios e inicio de sesión el usuario puede registrarse en la aplicación con sus credenciales y también puede entrar y salir de la app una vez registrado.
      </p> 
      <h3 style="color: #E0735C;">REGISTRO Y CUENTAS DE USUARIO</h3>
      <p>
        <strong>REGISTRO DE USUARIO:</strong> Para registrarte en la aplicación hay dos opciones puede usar de las redes sociales externas Google, Facebook o Apple donde se tomarán los datos de correo y contraseña, así como el nombre predeterminado de estas fuentes, otra opción es ingresar con un correo electrónico donde se tendrá que verificar la cuenta mediante correo electrónico.
      </p> 
      <p>
        <strong>ACCESO A LA CUENTA:</strong> Una vez que se hayan registrado, los usuarios pueden acceder a sus cuentas Pet911 iniciando sesión con su dirección de correo electrónico y contraseña. Pueden cerrar sesión en cualquier momento desde el menú lateral.
      </p>
      <p>
        <strong>REQUISITOS DE EDAD Y CONSENTIMIENTO:</strong> Para utilizar la aplicación Pet911 y sus servicios, los usuarios deben tener al menos 13 años de edad. Si un usuario es menor de 13, debe obtener el consentimiento de sus padres o tutores legales antes de acceder a la aplicación y utilizar sus servicios.
      </p>
      <p>
        <strong>PROTECCIÓN DE LA CUENTA:</strong> Los usuarios son responsables de proteger su contraseña y deben notificar de inmediato al soporte de Pet911 si sospechan que su cuenta ha sido comprometida o si experimentan actividad no autorizada.
      </p>
      <p>
        <strong>ELIMINACIÓN DE LA CUENTA:</strong> Si un usuario desea eliminar su cuenta en Pet911, puede hacerlo comunicándose con el soporte de la aplicación. Tenga en cuenta que la eliminación de la cuenta implica la pérdida de acceso a todos los datos y servicios relacionados con la cuenta.
      </p>
      <h3 style="color: #E0735C;">POLÍTICA DE PRIVACIDAD</h3>
      <h6><strong>RECOPILACIÓN DE DATOS PERSONALES</strong></h6>
      <p>
        En Pet911, recopilamos datos personales. Estos datos se utilizan para crear y gestionar cuentas de usuario, así como para proporcionar servicios personalizados, como la búsqueda de servicios relacionados con mascotas y la adopción de mascotas. Además, recopilamos información relacionada con la ubicación de los usuarios para facilitar la búsqueda de servicios locales.
      </p>
      <p>
        De acuerdo con lo anterior, los datos que se registran de los usuarios son los siguientes:
      </p>
      <ul>
        <li>Correo electrónico, contraseña, edad, nombre y género de los usuarios que se registran en la aplicación.</li>
        <li>Datos de las mascotas que los usuarios añaden, como nombre, edad, especie, raza, altura, sexo, alergias y notas.</li>
        <li>Los códigos QR que los usuarios generan o escanean, junto con sus tipos y usos.</li>
        <li>La cantidad de veces que los usuarios acceden a la sección de adopción y contactan a un administrador de adopciones.</li>
      </ul>
      <p>
        Los asociados también recopilan datos adicionales, que incluyen:
      </p>
      <ul>
        <li>Nombre del establecimiento.</li>
        <li>Nombre del asociado.</li>
        <li>Cédula del asociado.</li>
        <li>Fecha de nacimiento del asociado.</li>
        <li>Enlace de WhatsApp al que se atenderá.</li>
        <li>Fotos del establecimiento.</li>
        <li>Costo máximo de consulta en emergencia.</li>
        <li>Ubicación del local.</li>
        <li>Servicios que prestarán.</li>
      </ul>
      <h6><strong>USO DE COOKIES Y TECNOLOGÍAS SIMILARES</strong></h6>
      <p>
        La aplicación Pet911 utiliza cookies y tecnologías similares para recopilar datos de los usuarios y mejorar la experiencia de uso. Los usuarios pueden gestionar sus preferencias de cookies y obtener más información sobre el uso de cookies en nuestra política de cookies. Al utilizar la aplicación, los usuarios aceptan el uso de cookies de acuerdo con dicha política.
      </p>
      <h6><strong>COMPARTIR DATOS CON TERCEROS</strong></h6>
      <p>
        Los datos recopilados de los usuarios y los asociados pueden compartirse con terceros en ciertas circunstancias. En particular, los datos de los usuarios pueden compartirse con los asociados registrados en la aplicación para facilitar la prestación de servicios relacionados con mascotas. Los datos de los asociados, como el nombre del establecimiento y la ubicación, pueden estar disponibles para los usuarios como parte de la información de búsqueda de servicios. La aplicación podría considerar la posibilidad de transferir o compartir estos datos con otras entidades o socios comerciales. En tales casos, se tomarán medidas adecuadas para garantizar la protección de la privacidad de los usuarios y se notificará a los afectados según lo exija la legislación vigente.
      </p>
      <h6><strong>USO DE FOTOS SUBIDAS POR LOS USUARIOS Y RESPONSABILIDADES</strong></h6>
      <p>
        Al aceptar estos Términos de Servicio, los usuarios que suben fotos a la aplicación Pet911 otorgan a Allku S.A.S. el derecho de utilizar estas fotos en campañas publicitarias de la empresa, sin necesidad de obtener consentimiento adicional del usuario. El usuario retiene la propiedad de sus fotos y puede retirarlas de la aplicación en cualquier momento.
      </p>
      <p>
        Los usuarios son responsables de garantizar que las fotos que suben a la aplicación Pet911 no infrinjan derechos de autor u otros derechos de propiedad intelectual de terceros. Cualquier contenido protegido por derechos de autor o con derechos de uso restringidos que sea subido a la aplicación es responsabilidad exclusiva del usuario. En caso de problemas legales relacionados con el contenido subido por un usuario, el usuario será el único responsable y deberá asumir cualquier responsabilidad legal que surja.
      </p>
      <h6><strong>SEGURIDAD DE DATOS</strong></h6>
      <p>
        En Pet911, nos comprometemos a proteger los datos de nuestros usuarios y asociados. Implementamos medidas de seguridad, como cifrado de datos y controles de acceso, para garantizar la confidencialidad de la información almacenada en nuestra plataforma. Sin embargo, es importante recordar que ningún sistema es completamente seguro, y los usuarios deben tomar precauciones adicionales para proteger sus cuentas y datos personales.
      </p>
      <h6><strong>NOTIFICACIÓN DE CAMBIOS</strong></h6>
      <p>
        En caso de que realicemos modificaciones en nuestra política de privacidad, notificaremos a los usuarios a través de la aplicación o por correo electrónico. Los usuarios deben revisar regularmente la política de privacidad actualizada para comprender cómo se manejan sus datos. El uso continuado de la aplicación después de la notificación de cambios implica la aceptación de la nueva política de privacidad.
      </p>
      <h6><strong>CONTACTO</strong></h6>
      <p>
        Si los usuarios tienen preguntas, inquietudes o necesitan información adicional sobre nuestra política de privacidad, pueden ponerse en contacto con nosotros a través del soporte de la aplicación.
      </p>
      <h3 style="color: #E0735C;">DERECHOS DE PROPIEDAD INTELECTUAL</h3>
      <p>
        Todos los derechos de propiedad intelectual asociados con la aplicación Pet911, incluyendo, entre otros, el diseño, el logotipo, los colores, las imágenes, el código, los métodos y los procesos utilizados, son propiedad exclusiva de Allku S.A.S., la empresa detrás de la aplicación Pet911. Estos derechos están protegidos por las leyes de propiedad intelectual y no pueden ser replicados, modificados o utilizados sin autorización expresa.
      </p>
      <h6><strong>LIMITACIONES EN LA MODIFICACIÓN POR PARTE DEL USUARIO</strong></h6>
      <p>
        Los usuarios de Pet911 no tienen la autorización para realizar modificaciones en ningún aspecto de la aplicación, incluyendo el diseño, los colores, el logotipo, el código, los métodos o los procesos utilizados. Cualquier intento de modificar, replicar o copiar estos elementos sin autorización expresa constituirá una violación de los derechos de propiedad intelectual de Allku S.A.S.
      </p>
      <h6><strong>ACTUALIZACIONES Y MODIFICACIONES</strong></h6>
      <p>
        Allku S.A.S. se reserva el derecho de realizar actualizaciones o modificaciones en la aplicación Pet911, lo que puede incluir cambios en el diseño, el logotipo, los colores, el código, los métodos o los procesos utilizados. Los usuarios deben esperar a las actualizaciones del sistema para cualquier cambio o modificación en estos elementos y no usar programas de terceros.
      </p>
      <h6><strong>PROHIBICIÓN DE COPIA O REPLICACIÓN NO AUTORIZADA</strong></h6>
      <p>
        Cualquier intento de copiar, replicar o modificar elementos de la aplicación Pet911 sin autorización expresa de Allku S.A.S. está estrictamente prohibido y puede dar lugar a consecuencias legales.
      </p>
      <h6><strong>PROHIBICIÓN DE INGENIERÍA INVERSA</strong></h6>
      <p>
        Los usuarios no pueden realizar ingeniería inversa, descompilar, desmontar o intentar acceder al código fuente de la aplicación Pet911 de ninguna manera.
      </p>
      <h6><strong>PROHIBICIÓN DE RECOLECCIÓN DE DATOS NO AUTORIZADA</strong></h6>
      <p>
        Queda estrictamente prohibida la recolección de datos de la aplicación Pet911 de manera automática o manual por parte de los usuarios sin la autorización expresa de Allku S.A.S. Esto incluye cualquier intento de utilizar programas, scripts, o cualquier otro método para extraer datos de la aplicación. Cualquier recolección no autorizada de datos constituirá una violación de los derechos de propiedad intelectual y podrá dar lugar a consecuencias legales.
      </p>
      <h6><strong>MARCAS REGISTRADAS</strong></h6>
      <p>
        Cualquier marca registrada relacionada con la aplicación Pet911, incluyendo el nombre de la aplicación y el logotipo, está protegida y no puede ser utilizada sin autorización expresa. Las marcas registradas son propiedad exclusiva de Allku S.A.S.
      </p>
      <h6><strong>LICENCIA DE USO LIMITADA</strong></h6>
      <p>
        Allku S.A.S. otorga a los usuarios una licencia limitada y no exclusiva para utilizar la aplicación Pet911 con el propósito exclusivo de acceder a los servicios relacionados con mascotas y las funciones proporcionadas por la aplicación. Esta licencia no transfiere la propiedad de ningún elemento de la aplicación o marca y está sujeta a las siguientes restricciones:
      </p>
      <ul>
        <li>Los usuarios deben utilizar la aplicación de manera lícita y para los fines previstos, incluyendo la búsqueda de servicios relacionados con mascotas, la adopción de mascotas y otras funciones dentro del ámbito de la aplicación.</li>
        <li>Queda terminantemente prohibido el uso de la aplicación con fines ilegales, no autorizados o para cualquier actividad que no esté relacionada con los servicios para mascotas ofrecidos por Pet911.</li>
      </ul>
      <h3 style="color: #E0735C;">TÉRMINOS DE USO ACEPTABLE</h3>
      <h6><strong>COMPORTAMIENTO ACEPTABLE DE LOS USUARIO</strong></h6>
      <p>
        Los usuarios de la aplicación Pet911 deben comprometerse a utilizar la aplicación de manera legal y con respeto hacia otros usuarios y el personal de la aplicación. El comportamiento aceptable incluye:
      </p>
      <ul>
        <li>No participar en actos de discriminación, como racismo, sexismo, homofobia o cualquier forma de discriminación basada en características personales, de etnia o religiosas.</li>
        <li>No promover ni publicar mensajes de odio, contenido ofensivo o conducta inapropiada hacia otros usuarios, incluyendo insultos, amenazas o cualquier forma de acoso.</li>
        <li>No fomentar ningún tipo de maltrato o abuso hacia los animales.</li>
      </ul>
      <h6><strong>COMPORTAMIENTO INACEPTABLE</strong></h6>
      <p>
        Se considera inaceptable cualquier comportamiento que viole los principios de respeto y buen uso de la aplicación. Esto incluye, pero no se limita a:
      </p>
      <ul>
        <li>Fomentar o promover cualquier actitud que infrinja los comportamientos inaceptables mencionados anteriormente.</li>
        <li>Hablar de manera ofensiva o acosar al personal de la aplicación o a otros usuarios.</li>
      </ul>
      <h6><strong>ACCIONES EN CASO DE INCUMPLIMIENTO</strong></h6>
      <p>
        Allku S.A.S. se reserva el derecho de tomar medidas apropiadas en caso de incumplimiento de los términos de uso aceptable, incluyendo la suspensión o terminación de cuentas de usuario y la toma de medidas legales según corresponda.
      </p>
      <h3 style="color: #E0735C;">RESCISIÓN DE CUENTA</h3>
      <p>
        Pet911 se reserva el derecho de suspender o eliminar cuentas de usuario en caso de que se determine que el usuario ha violado los términos de uso aceptable, como se describen en los términos anteriores y/o posteriores. La suspensión o eliminación de una cuenta puede llevarse a cabo sin previo aviso y está sujeta a la discreción de Pet911. La suspensión o eliminación de una cuenta implica la pérdida del acceso a la aplicación Pet911 y a todos sus servicios. Además, los usuarios suspendidos o eliminados pueden estar sujetos a medidas legales en caso de conducta grave o violación de los términos de uso aceptable.
      </p>
      <h3 style="color: #E0735C;">LÍMITES DE RESPONSABILIDAD</h3>
      <h6><strong>SERVICIOS DE TERCEROS</strong></h6>
      <p>
        La aplicación Pet911 proporciona información sobre servicios relacionados con mascotas ofrecidos por terceros. A pesar de los estrictos controles de calidad implementados, ni la aplicación Pet911 ni Allku S.A.S. garantizan en su totalidad que estos servicios siempre cumplan con lo que se promociona. Los usuarios deben entender que problemas inesperados pueden surgir en la prestación de estos servicios, y ni la aplicación ni la empresa son responsables de tales problemas. Los usuarios utilizan estos servicios bajo su propio riesgo y responsabilidad. En caso de que surja un problema de magnitud que lo amerite, la aplicación colaborará con los afectados en la medida de lo posible.
      </p>
      <h6><strong>SEGURIDAD DE LA CUENTA</strong></h6>
      <p>
        La seguridad de la cuenta de usuario es responsabilidad del propio usuario. En caso de filtración de datos o manipulación por parte de terceros de la cuenta del usuario o de la información privilegiada almacenada en dicha cuenta, ni la aplicación Pet911 ni Allku S.A.S. asumen responsabilidad por tales incidentes. Los usuarios deben tomar precauciones para garantizar la seguridad de sus cuentas y de la información que manejan.
      </p>
    </div>
  </div>
 
</ion-content>

<ion-footer>
  <app-footer></app-footer>
  </ion-footer>