<app-menu></app-menu>
<ion-content fullscreen>
  <div class="div-cont">
    <div style="display: flex;padding-top: 23px;background:#F7F7F7 ;">
      <div style="margin-left: 25px;">
        <ion-menu-button style="margin: 0px; color: #393235;"></ion-menu-button>
      </div>

      <div class="containerHeader">
        <div>
          <img width="97px" height="27px" src="../../../assets/icon/logos/LogoHeader.png" />
        </div>

      </div>
      <div
        style=" display: flex; align-items: center; text-align: center; align-content: center;margin-right: 27px; width: 32px;">
        <img style="width: 32px;height: 32px;max-width: 32px;" src="../../../assets/icon/logos/Notificationes.png" alt="">

      </div>

    </div>
    <div style="display: flex; justify-content: center;">

      <div class="associates">Asociados </div>
    </div>
    <div class="div-body">
      <h1>Editor semana</h1>
      <p style="color: rgba(74, 66, 66, 0.64);
      font-family: 'SF Pro';
      font-size: 13px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      letter-spacing: -0.408px;">Elige los días de la semana</p>
      <div style="display: flex;justify-content: space-between;margin-right: 37px;">
        <div class="div-day">L</div>
        <div class="div-day">M</div>
        <div class="div-day">X</div>
        <div class="div-day">J</div>
        <div class="div-day">V</div>
        <div class="div-day">S</div>
        <div class="div-day">D</div>
      </div>
      <div style="display: flex;justify-content: space-between;margin-top: 20px;margin-right: 35px;">
        <div class="div-atention">
          <h5>Atención normal</h5>
          <div style="display: flex; align-items: center;width: 102px;justify-content: space-between;">
            <label for="">De</label>
            <p>08:00</p></div>
          <div style="display: flex;align-items: center;width: 102px;justify-content: space-between;">
            <label for="">Hasta</label>
            <p>15:00</p>
          </div>
        </div>
        
        <div class="div-atention">
          <h5>Emergencias</h5>
          <div style="display: flex;align-items: center;width: 102px;justify-content: space-between;">
            <label for="">De</label>
            <p>08:00</p></div>
          <div style="display: flex;align-items: center;width: 102px;justify-content: space-between;">
            <label for="">Hasta</label>
            <p>15:00</p>
          </div>
        </div>
      </div>
     
      <div style="display: flex;justify-content: space-between;margin-top: 26px;">
        
      <h2>Días ya fijados</h2>
      </div>
      <div class="div-info">
        <div >
          <div style="display: flex;">
            <div class="div-square">Viernes</div>
            <div class="div-square">Sabado</div>
          </div>
          <div style="display: flex; justify-content: space-between;">
            <label style="margin-right: 62px;" for="">Atención normal</label>
            <label for="">Emergencias</label>
          </div>
          <div style="display: flex; justify-content: space-between;margin-right: 72px;">
            <p>08:00 - 15:00</p>
            <p>08:00 - 15:00</p>
          </div>
        </div>
        
      </div>
      <button class="confirm">
        Confirmar cambios
      </button>
    </div>
  </div>

</ion-content>
<ion-footer class="ion-no-border">
  <app-footer></app-footer>
</ion-footer>