<app-menu></app-menu>
<ion-content fullscreen>
  <div class="div-cont">
    <div style="display: flex;padding-top: 23px;background:#F7F7F7 ;">
      <div style="margin-left: 25px;">
        <ion-menu-button style="margin: 0px; color: #393235;"></ion-menu-button>
      </div>

      <div class="containerHeader">
        <div>
          <img width="97px" height="27px" src="../../../assets/icon/logos/LogoHeader.png" />
        </div>

      </div>
      <div
        style=" display: flex; align-items: center; text-align: center; align-content: center;margin-right: 27px; width: 32px;">
        <img style="width: 32px;height: 32px;max-width: 32px;" src="../../../assets/icon/logos/Notificationes.png" alt="">

      </div>

    </div>
    <div style="display: flex; justify-content: center;">

      <div class="associates">Asociados </div>
    </div>
    <div class="div-body">
      <h1>Horarios</h1>
      <div style="display: flex;justify-content: space-between;margin-top: 26px;">
        <h2>Hoy</h2>
        <button><img src="../../../assets/icon/actions/Edit.png" alt="">Editar</button>
      </div>
      <div class="div-info">
        <div style="display: flex; justify-content: space-between;margin-left: 25px;">
          <label for="">Atención normal</label>
          <label for="">Emergencias</label>
        </div>
        <div style="display: flex; justify-content: space-between;margin-left: 25px;margin-right: 72px;">
          <p>08:00 - 15:00</p>
          <p>08:00 - 15:00</p>
        </div>
      </div>
      <div style="display: flex;justify-content: space-between;margin-top: 26px;">
        
      <h2>Mañana</h2>
      <button><img src="../../../assets/icon/actions/Edit.png" alt="">Editar</button>
      </div>
      <div class="div-info">
        <div style="display: flex; justify-content: space-between;margin-left: 25px;">
          <label for="">Atención normal</label>
          <label for="">Emergencias</label>
        </div>
        <div style="display: flex; justify-content: space-between;margin-left: 25px;margin-right: 72px;">
          <p>08:00 - 15:00</p>
          <p>08:00 - 15:00</p>
        </div>
      </div>
    </div>
  </div>

</ion-content>
<ion-footer class="ion-no-border">
  <app-footer></app-footer>
</ion-footer>