.div-cont {
  width: 100%;
  max-width: 390px;
  background: #f8d8d8;
  overflow: auto;
  overflow-x: hidden;
}
.top-button{
position: absolute;
z-index: 1;
border-radius: 36px;
border: 0.5px solid rgba(0, 0, 0, 0.04);
background: var(--system-background-light-primary, #FFF);
box-shadow: 0px 3px 1px 0px rgba(0, 0, 0, 0.01), 0px 3px 8px 0px rgba(0, 0, 0, 0.12);
width: 36px;
height: 36px;
color: #010101;
text-align: center;
font-size: 18px;
font-family: 'SF Pro';
font-style: normal;
font-weight: 590;
line-height: 20px;
letter-spacing: 0.317px;

}
.top{
  
  width: 390px;
height: 227px;
}
.top-img{
  width: 390px;
height: 227px;
}
.div-title{
  height: 134px;
  width: 390px;
  margin-left: 12px;
}
.div-services{
height: 242px;
width: 390px;
margin-left: 12px;
margin-top: 16px;
p{
font-family: 'SF Pro';
font-style: normal;
margin: 0px;
}
}
.service{
display: flex;
margin-bottom: 16px;
img{
  width: 36px;
  height: 36px;
}
}
.div-map{
height: 327px;
width: 390px;
margin-left: 12px;
margin-top: 25px;
h1{
  color: #4A4242;

/* Default / Bold / Title3 */
font-family: SF Pro;
font-size: 20px;
font-style: normal;
font-weight: 600;
line-height: 24px;
margin: 0px;
}
}

.map{
background: #E0735C;
width: 358px;
height: 195px;
margin-top: 12px;
}
.div-hour{
height: 160px;
margin-left: 16px;
h1{
  color: #4A4242;

/* Default / Bold / Title3 */
font-family: 'SF Pro';
font-size: 20px;
font-style: normal;
font-weight: 600;
line-height: 24px;

}
h2{
  color: #4A4242;
font-family: 'SF Pro';
font-size: 16px;
font-style: normal;
font-weight: 510;
line-height: 24px;
letter-spacing: -0.38px;
margin: 0px;
}
p{
  color: #6C6C70;
font-family: 'SF Pro';
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 24px;
letter-spacing: -0.3px;
margin: 0px;
}
}

.div-opinion{
margin-left: 16px;

h1{
color: #4A4242;
/* Default / Bold / Title3 */
font-family: 'SF Pro';
font-size: 20px;
font-style: normal;
font-weight: 600;
line-height: 24px;
}
.opinion{
display: flex;
width: 352px;
height: 73px;
padding: 0px 14px;
gap: 15px;
border-radius: 16px;
border: 1px solid #E8E8E8;
background: #FFF;
margin-top: 8px;
}
h2{
color: #393235;
font-family: 'SF Pro';
font-size: 14px;
font-style: normal;
font-weight: 600;
line-height: normal;
letter-spacing: -0.408px;
margin: 0px;
}
p{
color: #393235;
font-family: 'SF Pro';
font-size: 10px;
font-style: normal;
font-weight: 510;
line-height: normal;
letter-spacing: -0.38px;
margin: 0px;
}
}

  .square-button {
    text-align: center;
    width: 68px;
  height: 66px;
    justify-content: center;
    padding: 0;
    border: 1px solid #E8E8E8;
    border-radius: 10px;
    background: white;
    margin-right: 10px;
    ion-icon{
        height: 100%;
        width: 30%;
       color: #E0735C;
    }
    img{
      margin-top: 10px;
    }
    p{
      height: 28px;
      color: #4A4242;
font-size: 11px;
font-family: 'SF Pro';
font-style: normal;
font-weight: 600;
letter-spacing: -0.408px;
      margin: 0px;
    }
    
  }


  .rating {
    color: #ccc;
font-family: 'SF Pro';
font-size: 24px;
font-style: normal;
font-weight: 510;
line-height: normal;
letter-spacing: -0.38px;
  }
  
  .star{
    
    color: #E0735C;
  }
 
  
  
  .numero {
    color: #393235;
font-family: 'SF Pro';
font-size: 14px;
font-style: normal;
font-weight: 510;
line-height: normal;
letter-spacing: -0.38px;
  }
  .open{
    color: var(--accessible-system-gray-light, #6C6C70);
      font-size: 14px;
      font-family: 'SF Pro';
      font-style: normal;
      font-weight: 400;
      line-height: 24px;
      letter-spacing: -0.38px;
      margin: 0px;
      display: flex;
      align-items: center;
  }
.title{
  color: black; color: #4A4242;
    font-size: 24px;
    font-family: SF Pro ;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.36px; 
    width: 207px;
    height: 58px;
    margin: 0px;
    margin-right: 68px;
}
  .lista-imagenes div{
    object-fit: cover;
    margin-right: 10px;
  }
  .div-cont::-webkit-scrollbar {
    display: none;
}
  .lista-imagenes::-webkit-scrollbar {
    display: none;
}
  .lista-imagenes{
    display: flex;
    overflow-y: auto;
  }
  .rateHeader {
    color: #3E3535;
font-family: 'SF Pro';
font-size: 39px;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: 0.36px;
 }
 .fa {
    font-size: 25px;
    color: grey;
 }
 .rated {
    color: rgb(255, 0, 0);
    border: 2px solid yellow;
 }
 .row{
  width: 202px;
  height: 55px;
 }
 .data {
  width: 6px;
    float: left;
    color: #4A4242;
text-align: right;
font-family: 'SF Pro';
font-size: 9px;
font-style: normal;
font-weight: 510;
line-height: normal;
letter-spacing: -0.38px;
 }
 .progressBar {
    float: left;
    display: flex;
    align-items: center;
    margin-left: 7px;
 }
 .right {
    text-align: right;
 }
 .row:after {
    content: "";
    display: table;
    clear: both;
 }
 .progressContainer {
    width: 183px;
    background-color: #D9D9D9;
    text-align: center;
    color: white;
    border-radius: 10px;
 }
 .bar-1, .bar-2, .bar-3, .bar-4, .bar-5 {
  height: 5px;
    border-radius: 10px;
 }
 .bar-5 {
    width: 70%;
    
    background-color: #E0735C;
 }
 .bar-4 {
    width: 50%;
  
    background-color: #E0735C;
 }
 .bar-3 {
    width: 20%;
    background-color: #E0735C;
 }
 .bar-2 {
    width: 65%;
    background-color: #E0735C;
 }
 .bar-1 {
    width: 40%;
    background-color: #E0735C;
 }
 .bod{
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    margin: 30px;
    max-width: 800px;
    padding: 20px;
    color: #010101;
 }
 .value{
  display: flex;
  justify-content: space-between;
  color: #010101;
  width: 345px;
  height: 64px;
 }

ion-content{
--offset-bottom: auto!important;
--overflow: hidden;
overflow: auto;
&::-webkit-scrollbar {
 display: none;
}
}
.ratinga {
color: #ccc;
}

.ratinga span {
cursor: pointer;
font-size: 24px;
}

.ratinga span.selected {
color: #E0735C;
}