<ion-content >
  <div class="div-cont">
    <div class="div-header">
      <button (click)="menu()" style="left: 35px;
    top: 58px;" class="top-button"> <img src="../../../assets/icon/actions/back.png" alt=""> </button>
    <div style="background: white;display: flex;justify-content: center;">

      <img style="width: 355px;
      height: 385px;" src="../../../assets/pruebas/pruebaqr.webp" alt="">
    </div>
    </div>
    <div style="display: flex; justify-content: center;">
      <div class="info">
        <h1>Perry</h1>
        <div style="display: flex; justify-content: space-between;">
          <div style="display: flex;align-items: center;">
            <img  src="../../../assets/icon/logos/DateOrange.png" alt="">          
            <p>5 años</p>
          </div>
          <div style="display: flex;align-items: center;">
            <img  src="../../../assets/icon/petIcons/Male.png" alt="">          
            <p>Masculino</p>
          </div>
          <div style="display: flex;align-items: center;">
            <img  src="../../../assets/icon/petIcons/Dog.png" alt="">          
            <p>Labrador</p>
          </div>
        </div>
        <div style="display: flex;margin-top: 25px;">
      
          <a href="https://api.whatsapp.com/send?phone=+5930969827625&text=¡Hola! ¿Cómo estás?" class="contact" >Editar datos</a>
          
          <button class="delete">Eliminar</button>
        </div>

      </div>
   
    </div>
    
    
    
  </div>
</ion-content>

<ion-footer>
<app-footer></app-footer>
</ion-footer>