<ion-content >
  <div class="div-cont">
    <div class="div-top">
      <a style="margin-left: 27px;margin-right: 54px;" href="/header"> < Ir atrás</a> 
    </div>
    <div class="div-body">
      <h1>Términos de Uso</h1>
      <p>Lorem ipsum dolor sit amet consectetur. Interdum scelerisque pharetra risus sed euismod. Congue ipsum fusce ut purus. Habitasse congue vitae at eget pretium aliquam. Fermentum turpis ullamcorper tempus dictum. Bibendum lectus imperdiet in risus in hendrerit in bibendum libero. Nulla sit pretium in sed felis magna. Et non mi purus iaculis viverra ornare nulla. Quam lectus nisi eu integer. Faucibus amet malesuada fringilla sed etiam est eu pharetra id.Lorem ipsum dolor sit amet consectetur. Interdum scelerisque pharetra risus sed euismod. Congue ipsum fusce ut purus. Habitasse congue vitae at eget pretium aliquam. Fermentum turpis ullamcorper tempus dictum. Bibendum lectus imperdiet in risus in hendrerit in bibendum libero. Nulla sit pretium in sed felis magna. Et non mi purus iaculis viverra ornare nulla. Quam lectus nisi eu integer. Faucibus amet malesuada fringilla sed etiam est eu pharetra id.</p>
    </div>
  </div>
 
</ion-content>

<ion-footer>
  <app-footer></app-footer>
  </ion-footer>