.div-cont {
    width: 100%;
    max-width: 390px;
    background: #F7F7F7;
    height: 9444px;
  }
.div-top{
    padding-top: 26px;
    display: flex;
    h1{
        color: #393235;
font-family: 'SF Pro';
font-size: 24px;
font-style: normal;
font-weight: 600;
line-height: 27.5px;
letter-spacing: -0.408px;
margin: 0px;
    }
    a{
        color: var(--primary-1, #E0735C);
font-family: 'SF Pro';
font-size: 16px;
font-style: normal;
font-weight: 600;
line-height: 27.5px;
letter-spacing: -0.408px;
text-decoration: none;
    }
}

.div-body{
    margin-left: 27px;
    margin-top: 28px;
    h1{
        color: #393235;
        font-family: 'SF Pro';
        font-size: 24px;
        font-style: normal;
        font-weight: 600;
        line-height: 27.5px; /* 114.583% */
        letter-spacing: -0.408px;
    }
    h6{
        color: #766868;
    }
    li{
        color: #766868;
    }
    p{
        width: 273px;
        color: #766868;
        font-family: 'SF Pro';
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
    button{
        margin-top: 34.5px;
        display: flex;
        width: 325px;
        height: 37px;
        padding: 13px 20px;
        justify-content: center;
        align-items: center;
        gap: 10px;
        flex-shrink: 0;
        border-radius: 10px;
background: var(--primary-1, #E0735C);
color: var(--label-color-dark-primary, #FFF);
text-align: center;
font-family: 'SF Pro';
font-size: 14px;
font-style: normal;
font-weight: 600;
line-height: 22px; /* 157.143% */
letter-spacing: -0.408px;
    }
}
