<ion-content class="no-scroll" fullscreen>
  <div class="div-cont">
  <div class="div-body">
    <div class="div-top">
        <h5> < Repetir escaneo</h5>
        <h1>Selección de servicio</h1>
        <div style="display: flex;align-items: center;">
          <img src="../../../assets/pruebas/cammy.png" alt="">
          <p>Elija un servicio para 'Nombre', 'TipoAnimal' de 'Edad'.</p>
        </div>
    </div>
    <div class="div-services">
      <div class="square">
        <div style="display: flex;align-items: center;">
          <img height="30px" width="30px" src="../../../assets/icon/scan/Peluqueria.png" alt="">
          <p>Peluquerías</p>
        </div>
        
        <div class="div-option">
          <img src="../../../assets/icon/scan/Less.png" alt="">
        </div>
      </div>
      <div class="square">
        <div style="display: flex;align-items: center;">
          <img height="30px" width="30px" src="../../../assets/icon/scan/Veterinaria.png" alt="">
          <p>Veterinarias</p>
        </div>
       
        <div class="div-option">
          <img src="../../../assets/icon/scan/More.png" alt="">
        </div>
      </div>
      <div class="square">
        <div style="display: flex;align-items: center;">
          <img height="30px" width="30px" src="../../../assets/icon/logos/Petshop.png" alt="">
          <p>Petshops</p>
        </div>
        
        <div class="div-option">
          <img src="../../../assets/icon/scan/More.png" alt="">
        </div>
      </div>
      <div class="square">
        <div style="display: flex;align-items: center;">
          <img height="30px" width="30px" src="../../../assets/icon/scan/Hospedaje.png" alt="">
          <p>Hospedaje</p>
        </div>
        
        <div class="div-option">
          <img src="../../../assets/icon/scan/More.png" alt="">
        </div>
      </div>
      <div class="square">
        <div style="display: flex;align-items: center;">
          <img height="30px" width="30px" src="../../../assets/icon/scan/Adiestramiento.png" alt="">
          <p>Adiestramiento</p>
        </div>
        
        <div class="div-option">
          <img src="../../../assets/icon/scan/More.png" alt="">
        </div>
      </div>
      <button>
        Confirmar
      </button>
    </div>
    
  </div>
    
  </div>

</ion-content>