
<ion-content [fullscreen]="true">
 
  <div class="div-cont">
    <div class="div-top" style="height: 15%;">
      <div style="margin-left: 25px;margin-right: 59px;">
        <a style="text-decoration: none; color: #E0735C; font-family: 'SF Pro';
        font-style: normal;
        font-weight: 600;
        font-size: 16px;" [routerLink]="['']"> {{volver}} </a>
        
      </div>
      <div style="width: 100%;">
        <img style="width: 97px;height: 27px; padding: 0px;
      " src="../../../assets/icon/logos/LogoHeader.png"/>
    
      
      </div>
      
    </div>
    
      <div class="div-back">
        
        
        <div class="div-input">
          <div style=" margin-top: 10px;
          color: black;
          height: 48px;
          width: 80%;
          margin-bottom: 20px; height: auto; ">
          <div style="margin-bottom: 23.75px;">
            <img style="height: 47.23px; width: 47.23px;" src="../../../assets/icon/logos/Key.png"/>
            </div>
            <div style="margin-bottom: 6px;">

              <ion-label style="font-family: 'SF Pro';
              font-style: normal;
              font-weight: 600;
              font-size: 24px;color: black;"> ¿Perdiste tu contraseña?</ion-label>
            </div>
            <div style="width: 273px;
            height: 42px;">
              <ion-label style="font-family: 'SF Pro';
              font-style: normal;
              font-weight: 400;
              font-size: 15px;color: #766868; ">No te preocupes.Escribe tu correo eletrónico y te enviaremos un enlace</ion-label>
            </div>
          
          </div>
          
              <div class="form-field">
                
                <input (change)="validarCor($event)" (keydown)="emailChange($event)" (keyup)="validarCor($event)" type="email" placeholder="Correo electrónico" 
                [(ngModel)]="email" [maxlength]="limite"  />
              </div>
              <p *ngIf="!validCor" style="color: red;height: 10px; margin-top: 0px;">Correo electrónico inválido</p>
         
         
          
          
        </div>
        <div style="width: 100%;display: flex; justify-content: center; align-items: center;">
          <div style="width: 100%;display: flex; justify-content: center;">
            <div class="form-init">
              <button (click)="enviarCorreo()" > Recuperar contraseña</button>

            </div>
            
          </div>
         
        </div>
        <div style="width: 100%;display: flex; justify-content: center; align-items: center; margin-top: 10px;">
          <p *ngIf="!validAuth" style="color: red;height: 10px; margin-top: 0px;">Llene todos los campos</p>
          <p *ngIf="!validBaseCor" style="color: red;height: 10px; margin-top: 0px;">Correo electrónico inválido</p>
        </div>
      
        
      </div>
      
  </div>
  
    
    
  </ion-content>
  