<ion-content >
  <div class="div-cont">
    <div class="div-top">
      <a style="margin-left: 27px;margin-right: 54px;" href="/header"> < Ir atrás</a> 
      <h1>Menú</h1>
    </div>
  <div class="div-conf">
        <div class="div-square">
          <div style="display: flex;align-items: center;">
            <img class="icon" src="../../../assets/icon/userIcons/Profile.png" alt="">
            <p>Notificaciones</p>
          </div>
          <img class="next" (click)="next('login')" src="../../../assets/icon/userIcons/Next.png" alt="">
        </div>
        <div class="div-square">
          <div style="display: flex;align-items: center;">
            <img class="icon" src="../../../assets/icon/userIcons/Configuration.png" alt="">
            <p>Configuración GPS</p>
          </div>
          <img class="next" (click)="next('register')" src="../../../assets/icon/userIcons/Next.png" alt="">
        </div>
        <div class="div-square">
          <div style="display: flex;align-items: center;">
            <img class="icon" src="../../../assets/icon/userIcons/Support.png" alt="">
            <p>2FA</p>
          </div>
          <img class="next" (click)="next('adopt-info')" src="../../../assets/icon/userIcons/Next.png" alt="">
        </div>
    
      </div>

    
  </div>
</ion-content>

<ion-footer>
  <app-footer></app-footer>
  </ion-footer>