
<ion-content [fullscreen]="true">
 
  <div class="div-cont">
    <div class="div-top" style="height: 15%;">
      <div style="margin-left: 25px;margin-right: 59px;">
        <a style="text-decoration: none; color: #E0735C; font-family: 'SF Pro';
        font-style: normal;
        font-weight: 600;
        font-size: 16px;" [routerLink]="['']"> {{volver}} </a>
        
      </div>
      <div style="width: 100%;">
        <img style="width: 97px;height: 27px; padding: 0px;
      " src="../../../assets/icon/logos/LogoHeader.png"/>
    
      
      </div>
      
    </div>
    
      <div class="div-back">
        <div >
          </div>
        
        <div class="div-input">
          <div style=" margin-top: 10px;
          color: black;
          height: 48px;
          width: 80%;
          margin-bottom: 20px; ">
  
            <ion-label class="welcome" >
              Ingresa tu nueva contraseña
            </ion-label>
          </div>
           
          <div  class="form-field">
            <input (change)="validarPas($event)" type="{{ showPassword ? 'text' : 'password' }}" id="passwordInput" [(ngModel)]="password" placeholder="Contraseña"  />
            <div  style="text-align: end;width: 100%;" >
              <ion-icon  (click)="togglePassword()"
              [name]="showPassword?'eye-off-outline':'eye-outline'" 
              ></ion-icon>
            </div>
            
            
          </div>
          <p *ngIf="!validPas" style="color: red;font-size: 14px; margin-top: 0px; text-align: center; width: 90%; font-family: SF Pro;">Contraseña inválida Minimo 8 Caracteres con 1 Mayuscula, 1 Caracter Especial, 1 Numero</p> 
          <div  class="form-field">
            <input (change)="validarCofirmPas($event)"  type="{{ confirmShowPassword ? 'text' : 'password' }}" id="consfirmPasswordInput" [(ngModel)]="confirmPassword" placeholder=" Confirmar contraseña"  />
            <div  style="text-align: end;width: 100%;" >
              <ion-icon  (click)="confirmTogglePassword()"
              [name]="confirmShowPassword?'eye-off-outline':'eye-outline'" 
              ></ion-icon>
            </div>
           
            
          </div>
          <p *ngIf="!validConfirmPas" style="color: red;font-size: 14px; margin-top: 0px; text-align: center; width: 90%; font-family: SF Pro;">Contraseña inválida Minimo 8 Caracteres con 1 Mayuscula, 1 Caracter Especial, 1 Numero</p> 
          
        </div>
        <div style="width: 100%;display: flex; justify-content: center; align-items: center;">
          <div style="width: 100%;display: flex; justify-content: center;">
            <div class="form-init">
              <button (click)="confirm()" > Confirmar</button>
            </div>
           
          </div>
         
        </div>
       <div style="margin-top: 10px;">
        <p *ngIf="!validForm" style="color: red;font-size: 14px; margin-top: 0px; text-align: center; width: 100%;  font-family: SF Pro;">Llene todos los campos</p> 
        <p *ngIf="!validMatch" style="color: red;font-size: 14px; margin-top: 0px; text-align: center; width: 100%;  font-family: SF Pro;">Las contraseñas no coinciden</p> 
    
       </div>
        
      </div>
      
  </div>
  
    
    
  </ion-content>
  